*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Montserrat", sans-serif;

}

body{
    background-color: #0f0f1e;
    color: #fff;
    font-size: 16px;
    overflow: hidden;

}

header{
    position: fixed;
    width: 90vw;
    top: 0;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    z-index: 3;
}

.logo{
    font-family: "Orbitron", sans-serif;
    font-size: 2rm;
    font-weight: 900;
    color: #00f7ff;
    text-shadow: 0 0 10px rgba(0,247,255,0.5); /* No google tem site que faz esse text shadow */
}

header nav ul {
    display: flex;
    gap: 48px; /* distanciamento entre itens */
}

header nav ul li{
    cursor: pointer;
    position: relative; /* posição relativa para trabalhar com after trazendo o efeito pra parte de baixo */
    padding: 5px 0;
}

header nav ul li::after{
    content: '';
    position: absolute; /* absolute pra eu colocar o item onde eu quiser na tela, mesmo ele sendo filho e vindo depois da li, então o posicionamento vai ser em relação ao pai dele (li) */
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #00f7ff;
    transition: width 0.5s ease;
}

/* hover para indicar que o after só aparece quando eu passar o mouse por ele */
header nav ul li:hover::after{
    width: 100%;

}

.container{
    height: 100vh;
    position: relative;
    background-color: linear-gradient(135deg, #0f0f1e 0%, #1f1f3a 100%); /* https://cssgradient.io/ */
    overflow: hidden;
}

.container::before{
    content: '';
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(0, 247, 255, 0.2) 0%, rgba(15,15,30,0) 70%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Esquema pra centralizar qualquer coisa */
    filter: blur(50%);
    z-index: 1;
    animation: pulse 4s infinite alternate;
}

@keyframes pulse{
    0%{
        opacity: 0.5;
        transform: translate(-50%, -50%) scale(0.8); /* 80% do tamanho original, começa no centro mas menor */
    }

    100%{
        opacity: 1;
        transform: translate(-50%, -50%) scale(2);
    }


}

.list {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    position: relative;

}

.item{
    position: absolute;
    inset: 0; /* mesmo valor para todas as direções: top, bottom, left, right */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;

}

.active{
    opacity: 1;
    
}
